<nav class="navbar-header flex-center-vertical mat-elevation-z6">
  <!-- reactive -->
  <!-- pc -->
  <a class="navbar-logo normal-inline-show" mat-mini-fab routerLink="/">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </a>
  <!-- wap -->
  <button (click)="toggleMenu()" class="small-inline-show" mat-mini-fab>
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </button>
  <!-- logo template -->
  <ng-template #logo>
    <div class="logo-wrapper" [ngClass]="{ active: logoActive }">
      <div class="logo-style1"></div>
      <div class="logo-style2"></div>
      <div class="logo-style3"></div>
    </div>
  </ng-template>
  <!-- end reactive -->
  <!-- menus -->
  <span class="normal-inline-show navbar-list">
    <a *ngFor="let menu of menus" mat-button [href]="menu.url" target="_blank">
      <mat-icon>{{ menu.icon }}</mat-icon>
      <span>{{ menu.name }}</span>
    </a>
  </span>
  <!-- end menus -->
  <div class="flex-spacer"></div>
  <a mat-button target="_blank" href="https://github.com/yujinpan">
    <img class="navbar-icon-github" src="/assets/images/icon-github.svg" />
    <span>GitHub</span>
  </a>
</nav>
