<nav class="navbar-header flex-center-vertical mat-elevation-z6">
  <!-- reactive -->
  <!-- pc -->
  <a class="navbar-logo normal-inline-show" mat-mini-fab routerLink=".">
    <app-logo></app-logo>
  </a>
  <!-- wap -->
  <button (click)="toggleMenu()" class="small-inline-show" mat-mini-fab>
    <app-logo [logoActive]="logoActive"></app-logo>
  </button>
  <!-- end reactive -->
  <!-- menus -->
  <span class="normal-inline-show">
    <a *ngFor="let menu of menus" mat-button [routerLink]="menu.url">
      <span>{{ menu.name }}</span>
    </a>
  </span>
  <!-- end menus -->
  <div class="flex-spacer"></div>
  <a mat-button target="_blank" href="https://github.com/yujinpan">
    <img class="navbar-icon-github" src="/assets/images/icon-github.svg" />
    <span>GitHub</span>
  </a>
</nav>
