<app-nav class="app-nav" (menuStateChange)="sidenav.toggle()"></app-nav>
<mat-sidenav-container class="container flex-1" hasBackdrop="false">
  <mat-sidenav #sidenav mode="push">
    <a
      *ngFor="let menu of menus"
      class="slide-nav-button"
      mat-button
      [routerLink]="menu.url"
    >
      <span>{{ menu.name }}</span>
    </a>
  </mat-sidenav>
  <mat-sidenav-content class="app-main flex-center">
    <span *ngIf="pv > 0" class="stat-pv">PV: {{ pv }}</span>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
